@charset "UTF-8";





body {
 background-color: lightblue;
 padding-top: 90px;
 width: 100%;
}

div {
  background-color: white;
  width: 260px;
  height: 430px;
  display: block;
  margin: auto;
  border-radius: 20px;
  
}

img {
  display: flex;
  padding: 10px ;
  margin: auto;
  width: 230px;
  border-radius: 20px;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}